* {
    margin: 0;
    padding: 0;
    font-family: 'Argentum Sans', sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden
}

/* General */

h1 {
    margin-bottom: 4rem;
    color: #272727;
}

p {
    color: #272727;
}

.marge40 {
    margin-top: 40px;
}

a {
    text-decoration: none;
    color: #272727;
}

nav {
    padding: 0 0 1% 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* General end */

.navLinks {
    display: flex;
    justify-content: space-around;
    width: 15%;
}

.titleText {
    font-size: 65px;
}

.textPurple {
    color: #AD92E8;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
}

.mainBar {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 5%;
}

.leftHeader {
    width: 50%;
    padding-left: 3%;
    padding-right: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rightHeader {
    width: 80%;
    display: flex;
    justify-content: center;
}

.rightHeader img {
    width: 60%;
    border-radius: 40%;
}

.headerBio {
    display: flex;
    justify-content: left;
    flex-direction: row;
    width: 100%;
}

.ellipse {
    width: 30px;
    height: 30px;
    border: 3px #272727 solid;
    border-radius: 50%;
    margin-right: 20px;
}

.bioPosition {
    width: 500px;
}

.bioPosition p {
    margin-top: 40px;
}

.bioPosition h2 {
    margin-top: 0.5%;
}

.foreground {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

/* Follow me on section */

.follow {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

#followMeText {
    font-size: 24px;
    font-weight: 600;
}

.bottomHeader {
    display: flex;
    flex-direction: row;
    width: 45%;
}

.linkText {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.linkIconPosition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    border-radius: 50%;
    background-color: #f3f3f3;
    padding: 20px;
}

.linkIcon img {
    width: 100%;
}

#githubLogo {
    margin-right: 50px;
}

/* Blobs */

.petals {
    position: absolute;
    width: 7%;
}

#blob1 {
    top: 1%;
    left: 2%;
}

#blob2 {
    /* background-color: rebeccapurple; */
    top: 52%;
    left: 1%;
}

#blob3 {
    top: 10%;
    left: 90%;
    /* overflow: hidden; */
}

/* BLOB BIJ DE FOTO */
#blob4 {
    top: 55%;
    left: 75%;
    width: 17%;
    /* background-color: rebeccapurple; */
}

#blob5 {
    top: 22%;
    left: 50%;
    width: 20%;
}


/* 2de Sectie */

main {
    width: 100%;
    /* height: 100vh; */
    /* background-color: #AD92E8; */
}

.sectie2 {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    margin: 0;
    background-color: #AD92E8;
    /* background-color: #5b4796; */

}

.leftHeaderSkills {
    /* background-color: green; */
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#kevinDiploma {
    width: 70%;
    border-radius: 15%;
}

.rightHeaderSkills {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    width: 60%;
    padding-right: 5%;
    /* background-color: orange; */
}

.rightHeaderSkills h2,
.rightHeaderSkills p {
    color: white;
}

.rightHeaderSkills h2 {
    margin-bottom: 40px;

}

.rightHeaderSkills p {
    margin-bottom: 80px;
}

.buttonSkills a:nth-child(2) {
    margin-left: 50px;
    margin-right: 50px;
}

.buttonSkills a {
    border-radius: 8rem;
    padding: 20px;
    color: white;
    background-color: #8965D6;
    /* background-color: #7f65cc; */
    /* background-color: #25c558; */
}

/* Sectie 3 */

.sectie3 {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #8A9ECD;
    /* #7487B2 */
}

.leftSection3 {
    width: 50%;
    /* height: 100%; */
    background-image: url("assets/keyboard.jpg");
    /* background-color: rebeccapurple; */
}

.leftSection3 img {
    width: 100%;
    height: 100%;
}

.rightSection3 {
    text-align: center;
    padding: 5%;
    width: 50%;
    height: 100%;
}

.rightSection3 h2,
.rightSection3 p {
    color: white;
}

.row1Section3 {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    /* background-color: yellow; */
}

.row1Section3 img {
    width: 100%;
}

.backgroundColorProgram {
    padding: 25px;
    border-radius: 50%;
    background-color: #7487B2;
}

.row2Section3 {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: rebeccapurple; */
}

.row2Section3 img {
    width: 100%;
}


/* Sectie 4 */


.sectie4 {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #AD92E8;
    /* background-color: #5b4796; */
    /* #7487B2 */
}

.leftSection4 {
    padding: 5%;
    width: 50%;
    /* background-color: green; */
}

.leftSection4 h2,
.leftSection4 p {
    color: white;
}

.row1Section4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
    /* background-color: yellow; */
}

.row1Section4 img {
    width: 100%;
    /* position: sticky; */
}

.backgroundColorDesign {
    padding: 25px;
    border-radius: 50%;
    background-color: #8965D6;
}

.row2Section4 {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* background-color: rebeccapurple; */
}

.rightSection4 {
    width: 50%;
}

.parallaxImage {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    background: url("assets/diffooze.jpg");
    background-attachment: fixed;
    background-position: 20% 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

.rightSection4 img {
    width: 100%;
    height: 100%;
    /* position: sticky; */
}

/* Sectie 5 */

.sectie5 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #5b4796;
    z-index: 1;
    /* padding: 0; */
}

.sectie5Text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.sectie5 h2,
.sectie5 p {
    color: white;
}

.blob-motion {
    position: absolute;
    transform: translateY(0);
    z-index: -2;
}

.blob-content {
    z-index: 1;
}

.blobs {
    width: 100%;
    background: url("./blobs.svg") no-repeat bottom / cover;
}

/* Sectie 6 // Contact Pagina */

.contactSectie {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    /* background-color: white; */
    padding: 5% 5% 5% 5%;
    /* z-index: -2; */
}

.topContactSectie {
    width: 100%;
    padding: 5% 5% 3% 5%;
}

.bottomContactSectie {
    display: flex;
    flex-direction: row;
    padding: 5%;
    width: 100%;
    height: 100%;
}

.bottomLeftContactSectie {
    display: flex;
    /* justify-content: ; */
    align-items: center;
}

.bottomLeftContactSectie img {
    width: 60%;
    border-radius: 50%;
}

.bottomRightContactSectie {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
}

.bottomRightContactSectie p {
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Petals contact sectie */

/* .petalsContact {
    /* width: 40%; */
/* } */

#blob6 {
    position: absolute;
    top: 16%;
    left: -24%;
    z-index: -2;
    width: 45%;
}

#blob7 {
    position: absolute;
    top: 35%;
    left: 85%;
    z-index: -3;
    width: 30%;

}

/* Footer */

footer {
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15% 15% 0% 0%;
    /* margin-top: 80px; */
    background-color: #AD92E8;
    /* margin-top: auto; */
}

footer p {
    color: white;
}


/* Media queries */

@media screen and (max-width: 768px) {
    .titleText {
        font-size: 40px;
    }

    #blob7 {
        overflow-x: hidden;
    }

    .mainBar {
        height: auto;
    }

    .navLinks a {
        margin-left: 15px;
        margin-right: 15px;
    }


    .linkIconPosition {
        padding: 10px
    }

    #githubLogo {
        margin-right: 25px;
    }

    /* Skills sectie */

    #kevinDiploma {
        width: 90%;
    }

    .rightHeaderSkills p {
        margin-bottom: 50px;
    }

    .buttonSkills {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    .buttonSkills a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        width: 250px;
        height: 80px;
    }

    .buttonSkills a:nth-child(2) {
        margin: 20px 0 20px 0;
    }

    /* Development ervaring */

    .backgroundColorProgram {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        border-radius: 50%;
        width: 70px;
    }

    .row2Section3 img {
        width: 50px;
    }

    /* Design Sectie */

    .backgroundColorDesign {
        padding: 20px;
        width: 80px;
    }

    /* Werkervaring sectie */

    .sectie5 {
        height: 50vh;
    }

    .sectie5Text {
        text-align: center;
    }

    /* footer */

    footer p {
        text-align: center;
        font-size: 14px;
    }
}

/* LG bootstrap */

@media screen and (max-width: 992px) {
    .titleText {
        font-size: 40px;
    }

    #blob7 {
        overflow-x: hidden;
    }

    .mainBar {
        height: auto;
    }

    .navLinks a {
        margin-left: 15px;
        margin-right: 15px;
    }


    .linkIconPosition {
        padding: 10px
    }

    #githubLogo {
        margin-right: 25px;
    }

    /* Skills sectie */

    #kevinDiploma {
        width: 90%;
    }

    .rightHeaderSkills p {
        margin-bottom: 50px;
    }

    .buttonSkills {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    .buttonSkills a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        width: 250px;
        height: 80px;
    }

    .buttonSkills a:nth-child(2) {
        margin: 20px 0 20px 0;
    }

    /* Development ervaring */

    .backgroundColorProgram {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        border-radius: 50%;
        width: 70px;
    }

    .row2Section3 img {
        width: 50px;
    }

    /* Design Sectie */

    .backgroundColorDesign {
        padding: 20px;
        width: 80px;
    }

    /* Werkervaring sectie */

    .sectie5 {
        height: 50vh;
    }

    .sectie5Text {
        text-align: center;
    }

    /* footer */

    footer p {
        text-align: center;
        font-size: 14px;
    }
}